<div class="container">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category.capitalize %> food</p>
  <br>
  <%= link_to "Home", restaurants_path, class: "btn btn-primary" %>
</div>